* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #1a1a2e;
  
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.box1 {
  width: 150px;
  height: 150px;
  background-color: #e94560;
  border-radius: 8px;
}
.box2 {
  width: 150px;
  height: 150px;
  background-color: #bde945;
  border-radius: 8px;
}
.box3 {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
h1{
    text-align: center;
    color: #ffffff;
}

