#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#right a{
    margin-left: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    gap: 20px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 50px;
    font-weight: bold;
}
h1{
    
}